@charset "utf-8";

body{
	 background-image:url(css/3.jpg));
  	background-repeat:repeat-xy;
}

#upload
{
	padding:4px 6px;
	border:solid 1px #000000;
	border-radius:10px;
	font-weight:600;
	color:#600;
	background:#FFF;
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #FFFFFF;
	-moz-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #FFFFFF;
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #FFFFFF;
}
