@charset "utf-8";
/* CSS Document */

* {
	margin:0px;
	padding:0px;
}
.main_container {
	width:100%;
	margin:auto;
}
.top {
	width:100%;
	float:left;
}
.topnav {
	 width: 1366px;
	float:left;
	background:#2C4056;
}
.topbnr {
	 width:1366px;
	height:85px;
	float:left;
	background:url(imgs/bnrbg.png);
	background-repeat:repeat-x;
}

#dialog
{
	font-family:Verdana, Geneva, sans-serif;
}

.logo {
	float:left;
	margin: 10px 0px 0px 14px
}
.searchbar {
	float:right;
	color:#000;
	margin: 15px 15px 0px 0px;
}
.topnavlft ul {
}
.topnavlft ul li {
	font: bold 15px Arial, Helvetica, sans-serif;
	color:#FFF;
	height:17px;
	text-decoration:none;
	list-style:none;
	float:left;
	padding: 1px 5px 1px 5px;
}
.topnavlft ul li a {
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#FFF;
	height:17px;
	text-decoration:none;
	list-style:none;
	float:left;
	display: block;
	padding: 1px 5px 1px 5px;
}
.topnavlft ul li a:hover {
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#CCC;
}
.topnavright ul 
{
}
.topnavright ul li {
	font: bold 11px Arial, Helvetica, sans-serif;
	color:#FFF;
	height:17px;
	text-decoration:none;
	list-style:none;
	float:right;
	padding: 1px 5px 1px 5px;
}
.topnavright ul li a 
{
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#FFF;
	height:17px;
	text-decoration:none;
	list-style:none;
	float:right;
	display: block;
	padding: 1px 5px 1px 5px;
}
.topnavright ul li a:hover
{
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#CCC;
}
.mid {
	float:left;
	width:1365px;
	height: 480px;
}
.contant_box {
	float:left;
	width:280px;
	 margin: 145px 0 0 500px;
	background-color: #FFEBC1;
	border: 2px solid #FDBF3B;
	padding: 1em;
}
.footer {
    background: url("imgs/ftr.png") repeat scroll 0 0 transparent;
    color: #CCCCCC;
    float: left;
    height: 36px;
    padding-left: 565px;
    padding-top: 14px;
    width: 801px;

}
.center {
    float: left;
    height: 100%;
    padding: 0 0 0 14px;
    width: 1080px;
}

.midhead {
	
	float: left;
    height: 32px;
    padding: 0 0 0 14px;
    width: 1070px;
}
.midhead h2 {
	border-bottom: 1px solid #BBBBBB;
    color: #444444;
    font-size: 20px;
    font-family: "Trebuchet MS",Verdana,sans-serif;
    
}

.midcontent {
	background-image:url(theme/texture.jpg);
	float: left;
	line-height: 1.5em;
	margin: 10px;
	padding: 0 0 0 10px;
	width: 550px;
}
.midcontent p{    
	clear: left;
    margin: 0;
    min-height: 1.8em;
    padding: 3px 0 3px 180px;
}

.midcontent label{
	float: left;
    font-weight: bold;
    margin-left: -180px;
    text-align: right;
    width: 175px;
	font-family:Verdana, sans-serif;
	font-size:12px;
}

.splitmidcontent {
	
    color: #505050;
    float: right;
    line-height: 1.5em;
    margin: 22px;
    width: 40%;	
}

.splitmidcontent p{    clear: left;
    margin: 0;
    min-height: 1.8em;
    padding: 3px 0 3px 180px;
}

.splitmidcontent label{
	float: left;
    font-weight: bold;
    margin-left: -180px;
    text-align: right;
    width: 175px;
	font-family:Verdana, sans-serif;
	font-size:12px;
}
form em {
    color: #888888;
    font-size: 90%;
    font-style: normal;
}

#user_login, #user_firstname, #user_lastname, #user_mail, #my_account_form select, #user_form select, #user_identity_url {
    width: 99%;
}

input, select {
    
	padding:3px 8px;
	border:solid 1px #000000;
	border-radius:10px;
	font-weight:500;
	color:#000000;
	background:#FF6666;
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #FFFFFF;
	-moz-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #FFFFFF;
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #FFFFFF;
}
.regbtn{
	float: left;
    height: 32px;
    padding: 0 0 0 10px;
    width: 1347px;
	
}
.btn{
	background-color: #FFEBC1;
    border-color: #FDBF3B;
	
	}
.btn:hover{
	background-color: #FDBF3B;
    border-color: #FFEBC1;
	}
legend {
    color: #484848;
		}

.box {
    background-image:url(theme/texture.jpg);
    border: 1px solid #E4E4E4;
    color: #505050;
    line-height: 1.5em;
    margin-bottom: 10px;
    padding: 6px;
}
.sidebar {
    border: 1px solid #E4E4E4;
    float: right;
    height: 100%;
    margin: 0;
    width: 256px;
	background-color:#2C4056;
}


.sidebar_left {
    background-color: #2C4056;
    border: 1px solid #2C4056;
    float: left;
    height: 100%;
    margin: 0;
    width: 256px;
}

.sidebar_left label{
	font-weight: bold;
   color:#CCCCCC;
    text-align: center;
    width: 175px;
	font-family:Verdana, sans-serif;
	font-size:15px;
	padding: 6px;

}

.img-wrap { 
    /* Needed to keep the image from being set to float left in ie 7, but doesn't work for ie 6*/
    position: relative;
    /* This triggers the layout feature to contain the floated divs for the top and bottom borders */ 
    overflow: hidden; 
}

.img-container {
    /* Keep the floated divs/image contained within */
    position: relative;
    float: left;
    overflow: hidden;
    /* this is the left side vertical border
       Set the color to transparent then include the image and have 
       it repeat vertically */
    background: transparent url(/images/pic_frame_vertical.jpg) repeat-y;
}

.img-container img {
     /* Setting the padding equal to the border width for all sides 
        so the borders can be seen */
    padding: 6px;
    /* this is the right side vertical border
       Set the color to transparent then include the image and have 
       it repeat vertically and line up on the right side of the image */
    background: transparent url(/images/pic_frame_vertical.jpg) repeat-y right;
}
.img-container div.img-top {
    /* Positioning the top border to start at the top left corner of
       the img-container div */
    position: absolute;
    left: 0;
    top: 0;
    /* Set the height equal to the height of the border */
    height: 6px;
    width: 100%;
     /* this is the top horizontal border
       Set the color to transparent then include the image and have 
       it repeat horizontally */
    background: transparent url(/images/pic_frame_horizontal.jpg) repeat-x;
}
.img-container div.img-bottom {
    /* Positioning the bottom border to start at the bottom left corner of
       the img-container div */    
    position: absolute;
    left: 0;
    bottom: 0;
    /* Set the height equal to the height of the border */
    height: 6px; 
    width: 100%;
    /* this is the bottom horizontal border
       Set the color to transparent then include the image and have 
       it repeat horizontally positioned at the bottom of the div 
       (bottom position needed for ie 6) */
    background: transparent url(/images/pic_frame_horizontal.jpg) bottom repeat-x; 
}
.menu1 {
    border-color: #3D261D;
    border-style: solid solid none;
    border-width: 1px;
    margin: 10px;
    width: 200px;
}
.menu1 li a {
    height: 24px;
    text-decoration: none;
	color:#333
}
.menu1 li a:link, #menu1 li a:visited {
    /*background: url("menu1.gif") repeat scroll 0 0 transparent;*/
	background:url(imgs/menu1.gif) repeat scroll 0 0 transparent;;
    color: #FFFFFF;
    display: block;
    padding: 8px 0 0 10px;
}
.menu1 li a:hover {
    background:url(imgs/vvk.png) repeat scroll 0 0 transparent;;
    color: #FFFFFF;
    padding: 8px 0 0 10px;
}



.menu2 {
    border-color: #3D261D;
    border-style: solid solid none;
    border-width: 1px;
    margin: 10px;
    width: 200px;
}
.menu2 li a {
    height: 24px;
    text-decoration: none;
	color:#FFFFFF
}
.menu2 li a:link, #menu2 li a:visited {
    /*background: url("menu1.gif") repeat scroll 0 0 transparent;*/
	background:url(imgs/menu1.gif) repeat scroll 0 0 transparent;;
    color: #FFFFFF;
    display: block;
    padding: 8px 0 0 10px;
}
.menu2 li a:hover {
    background:url(imgs/vvk.png) repeat scroll 0 0 transparent;;
    color: #FFFFFF;
    padding: 8px 0 0 10px;
}
.sidebar2 {
    border: 1px solid #E4E4E4;
    float: right;
    height: 100%;
    margin: 0;
    width: 256px;
	background-color:#2C4056;
}
.menu3 {
    border-color: #3D261D;
    border-style: solid solid none;
    border-width: 1px;
    margin: 10px;
    width: 200px;
}
.menu3 li a {
    height: 24px;
    text-decoration: none;
	color:#FFFFFF
}
.menu3 li a:link, #menu2 li a:visited {
    /*background: url("menu1.gif") repeat scroll 0 0 transparent;*/
	background:url(imgs/menu1.gif) repeat scroll 0 0 transparent;;
    color: #FFFFFF;
    display: block;
    padding: 8px 0 0 10px;
}
.menu3 li a:hover {
    background:url(imgs/vvk.png) repeat scroll 0 0 transparent;;
    color: #FFFFFF;
    padding: 8px 0 0 10px;
}

#event_description{
	border:solid 1px #000000;
	border-radius:10px;
	background:#FF6666;
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #FFFFFF;
	-moz-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #FFFFFF;
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #FFFFFF;	
}

body{
	background-image:url(theme/texture.jpg);
}

#all_day
{

	border-radius:10px;
	background:#FF6666;
	
}